<h1 class="navbar-inner" style="width:900px; height:50px; padding-top:10px; margin-bottom:10px">Fashion Data Scraper</h1>
	<div style="margin-bottom:10px">
  <td><%= link_to 'Fetch Data Now!', products_path, class: "btn btn-large btn-primary"  %></td>
	</div>
  <table style="width:942px;">
    <tr class="navbar-inner" style="text-align:left">
      <th style="padding-left:40px">Name</th>
      <th>Size</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @products.each do |product| %>
    <tr class="navbar-inner">
      <td style="padding-left:40px"><%= product.name %></td>
      <td><%= product.size %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', product, class: "btn btn-small btn-primary" %></td>
      <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-small btn-primary" %></td>
      <td><%= link_to 'Destroy', product, class: "btn btn-small btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>